<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd" bootstrap="tests/Bootstrap.php" colors="true" executionOrder="depends,defects" cacheDirectory=".phpunit.cache" requireCoverageMetadata="false" beStrictAboutCoverageMetadata="false">
  <testsuites>
    <testsuite name="all-tests">
      <directory>tests</directory>
    </testsuite>
    <testsuite name="unit-tests">
      <directory>tests/unit</directory>
    </testsuite>
    <testsuite name="integration-tests">
      <directory>tests/integration</directory>
    </testsuite>
  </testsuites>
  <coverage/>
  <php>
    <const name="APPLICATION_ENV" value="testing"/>
    <const name="XDEBUG_MODE" value="coverage"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>
